<footer id="colophon" class="site-footer inner-sm">
  <p class="site-info">
    {{ if .Site.Params.footer.content }}
    <span class="copyright">{{ $.Site.Params.footer.content | safeHTML }}</span>
    {{ end }}
    {{ range $action := .Site.Params.footer.links }}
    <a href="{{ $action.url | relURL }}"
      {{ if $action.new_window }} target="_blank"{{ end }}
      {{ if or $action.new_window $action.no_follow }} rel="{{ if $action.new_window }}noopener {{ end }}{{ if $action.no_follow }}nofollow{{ end }}"{{ end }}
      {{ if eq $action.style "button" }}class="button"{{ end }}>{{ $action.label }}</a>
    {{ end }}
  </p><!-- .site-info -->
  <a id="to-top" class="to-top" href="#page"><span class="icon-arrow-up" aria-hidden="true"></span><span
      class="screen-reader-text">Back to top</span></a>
</footer><!-- .site-footer -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#2D2D39"
    },
    "button": {
      "background": "#14a7d0"
    }
  },
  "theme": "edgeless",
  "position": "bottom-right",
  "content": {
      "message": "This website uses cookies for Google Analytics so that I know how many people are reading the blog and which blogposts are the most popular. The website does not collect any personal data.",
  "href": "https://www.cookiesandyou.com/"
  }
});
</script>
